#%RAML 0.8
title: TapWiser API
baseUri: http://mocksvc.mulesoft.com/mocks/d6f6668a-969b-46b4-93e7-4ace3bf443ef/api/{version}
version: 2.0.1

schemas:
  - account: !include schema/account.json
  - accounts: !include schema/accounts.json
  - authentication: !include schema/authentication.json
  - brand: !include schema/brand.json
  - brands: !include schema/brands.json
  - beerCocktails: !include schema/beerCocktails.json
  - category: !include schema/category.json
  - categories: !include schema/categories.json
  - deliveryAddresses: !include schema/deliveryAddresses.json
  - deliveryWindows: !include schema/deliveryWindows.json
  - discount: !include schema/discount.json
  - discounts: !include schema/discounts.json
  - empties: !include schema/empties.json
  - estimatedPrice: !include schema/estimatedPrice.json
  - estimatedPrices: !include schema/estimatedPrices.json
  - gifts: !include schema/gifts.json
  - invoice: !include schema/invoice.json
  - invoices: !include schema/invoices.json
  - item: !include schema/item.json
  - items: !include schema/items.json
  - merchandise: !include schema/merchandise.json
  - merchandiseTypes: !include schema/merchandiseTypes.json
  - negotiatedFreeProducts: !include schema/negotiatedFreeProducts.json
  - notifications: !include schema/notifications.json
  - order: !include schema/order.json
  - orders: !include schema/orders.json
  - pointActions: !include schema/pointActions.json
  - points: !include schema/points.json
  - prices: !include schema/prices.json
  - pricing: !include schema/pricing.json
  - promotions: !include schema/promotions.json
  - search: !include schema/search.json
  - suggestedOrderItems: !include schema/suggestedOrderItems.json
  - trends: !include schema/trends.json
  - truck: !include schema/truck.json
  - videos: !include schema/videos.json
  - user: !include schema/user.json
  - users: !include schema/users.json
  - wholesalers: !include schema/wholesalers.json

resourceTypes:
  - primary:
      description: The primary resource provider for the TapWiser API, responsible for facillitating order placement and provided data associated with placing an order. In America, Mobility.
  - secondary:
      description: A non-primary resource provided for the TapWiser API. In the future, these resources will be more specifically defined, and likely enabled through a CMS.
  - blended:
      description: A resource combining other resources through a Mulesoft-enabled reconcilliation.

traits:
  - dateRanged:
      description: If both start and end date are unspecified, all objects will be returned.
      queryParameters:
        startDate:
          type: string
          required: false
          description: The starting date. If unspecified, the return will include all objects older than the end date.
        endDate:
          type: string
          required: false
          description: The ending date. If unspecified, the return will include all objects younger than the start date.

  - errorReporter:
      responses:
        400:
         body:
          application/json:
            schema: |
              { "message": {"type": "string", "description": "A user-readable string describing the error"},
                "description": "400 errors should be returned when something is wrong with the request."
              }
            example: |
              { "message" : "DESCRIPTIVE_SLUG" }
        401:
         body:
          application/json:
            schema: |
              { "message": {"type": "string", "description": "A user-readable string describing the error"},
                "description": "401 errors should be returned only when the user's authentication token has expired."
              }
            example: |
              { "message" : "DESCRIPTIVE_SLUG" }

  - paged:
      queryParameters:
        page:
          type: integer
          required: false
          description: The requested page of data.
        limit:
          type: integer
          required: false
          description: The count of data objects per page.

  - priced:
      description: Indicates that current pricing information may be requested.

  - requiresClientIdentifiers:
      queryParameters:
        client_id:
          type: string
          required: true
        client_secret:
          type: string
          required: true

  - secured:
      headers:
        examples/x-Access-Token:
          description: A token issued to a user after successful authentication.
          type: string
          required: true
        CustID:
          description: An identifier for the account the user is operating.
          type: string
          required: true
        wholesalerID:
          description: An identifier for the wholesaler the user is ordering from.
          type: string
          required: true

/metadata:
  description: Returns public app metadata, such as customer service phone numbers, walkthrough direction or localized string files.
  is: [errorReporter, requiresClientIdentifiers]
  type: secondary
  get:
    queryParameters:
      language:
        description: The user's language code (ISO-639). If the server can provide a url for a matching localized string resource, it will. By default, a url linked to an English resource is returned.
        type: string
        required: false
      territory:
        description: The user's territory, used for delivering targeted app versioning.
        type: string
        required: false
      region:
        description: The user's territory, used for delivering targeted customer service and more granular customizations.
        type: string
        required: false
    responses:
      200:
        body:
          application/json:
            schema: |
              {
                "type": "object",
                "required": true,
                "properties": {
                  "stringResourceURL": {
                    "type": "string",
                    "format": "uri",
                    "required": true
                  },
                  "currentAppVersion": {
                    "type": "string",
                    "description": "If the iOS user’s version is less than this value, an update will be suggested.",
                    "required": true
                  },
                  "minimumVersionRequired": {
                    "type": "string",
                    "description": "If the iOS user's app version number is less than this version, an update is required.",
                    "required": true
                  },
                  "currentAndroidAppVersion": {
                    "type": "string",
                    "description": "If the Android user’s version is less than this value, an update will be suggested.",
                    "required": true
                  },
                  "minimumAndroidVersionRequired": {
                    "type": "string",
                    "description": "If the Android user's app version number is less than this version, an update is required.",
                    "required": true
                  },
                  "displayDiscounts": {
                    "type": "boolean",
                    "description": "Dictates whether the application should display discounts or not. By default, true.",
                    "required": true
                  },
                  "appURL": {
                    "type": "string",
                    "description": "A url where the newest version of the iOS app may be downloaded.",
                    "format": "uri",
                    "required": true
                  },
                  "androidAppURL": {
                    "type": "string",
                    "description": "A url where the newest version of the Android app may be downloaded.",
                    "format": "uri",
                    "required": true
                  },
                  "customerServicePhone": {
                    "type": "string",
                    "required": false
                  },
                  "customerServiceEmail": {
                    "type": "string",
                    "format": "email",
                    "required": false
                  }
                }
              }
            example: |
              {
                "stringResourceURL": "http://www.tapwiser.com/api/resourceURL.json",
                "currentAppVersion": "2.2",
                "minimumVersionRequired": "3.0",
                "currentAndroidAppVersion": "1.1",
                "minimumAndroidVersionRequired": "1.0",
                "displayDiscounts": true,
                "displaySuggestedOrder": false,
                "appURL": "https://itunes.apple.com/us/genre/ios/id36?mt=8",
                "androidAppURL": "https://play.google.com/store/apps/details?id=com.abinbev.android.tapwiser",
                "customerServicePhone": "347-493-8660",
                "customerServiceEmail": "tapwiser@fuzzproductions.com"
              }
/authentication:
  description: Logs the user in and out of the client. Additionally, assists users who have forgotten their passwords.
  is: [errorReporter, requiresClientIdentifiers]
  type: blended
  post:
    description: Logs the user into the app, creating a authentication token.
    body:
      application/json:
        schema: |
          {
            "type": "object",
              "properties": {
                "userName": {"type" : "string"},
                "password": {"type" : "string"},
                "language": {"type" : "string", "description": "The device's' language code setting (ISO-639)", "required": false},
                "resolution": {"type" : "string", "description": "Resolution expressed in pixels in the pattern of 'width x height'", "required": false},
                "udid": {"type" : "string", "description": "An os-generated unique device id.", "required": false}
              }
          }
    responses:
      200:
        body:
          application/json:
            schema: authentication
            example: !include examples/x-authentication.json
  delete:
    is: [secured, errorReporter, requiresClientIdentifiers]
    description: Logs the user out of the app and invalidate the user's session token.
    responses:
      200:
        body:
            application/json:
              schema: |
                {
                  "message": {
                    "type": "string",
                    "description" : "A message to display to the user confirming that he has logged out."
                  }
                }
              example: |
                {
                  "message": "You have logged out."
                }
  /updatePassword:
    is: [errorReporter, requiresClientIdentifiers]
    type: primary
    description: Updates the user's password.
    post:
      body:
        application/json:
          schema: |
            {
              "type": "object",
              "properties": {
                "userName": {"type" : "string"},
                "oldPassword": {"type" : "string", "required": false},
                "verificationCode": {"type" : "string", "required": false},
                "newPassword": {"type" : "string"}
              }
            }
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "message": {
                    "type": "string",
                    "description" : "A message to display to the user confirming that his password has been updated."
                  }
                }
              example: |
                {
                  "message": "Your password has been updated."
                }
  /forgotPassword:
    is: [errorReporter, requiresClientIdentifiers]
    type: primary
    description: Assists a user who has forgotten his password, likely by sending him an email or an sms with a new password. If the user posts either a known email address or known phone number, the means to recover his TapWiser password are sent to him. Otherwise, he receives an error.
    post:
      body:
        application/json:
          schema: |
            {
              "type": "object",
              "properties": {
                "userName": {"type" : "string", "required": false}
              }
            }
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "message": {
                    "type": "string",
                    "description" : "PASSWORD_RECEIVED_SLUG"
                  },
                  "temporaryPassword": {
                    "type": "string",
                    "description" : "A temporary password that may be used to login once.",
                    "required": false
                  }
                }
              example: |
                {
                  "message": "Request received! An email explaining how to retrieve your password has been sent to noah@fuzzproductions.com.",
                  "temporaryPassword": "SGSaueI73"
                }
/orders:
  description: Places new orders, retrieves placed orders, and adds user-generated content to placed orders.
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: primary
  get:
    is: [ dateRanged, paged ]
    description: Returns an array of orders, sorted from newest to oldest.
    queryParameters:
      echoPreviousYear:
        description: Return historic orders from the previous year that occurred between identical MM/DD ranges.
        type: boolean
        required: false
      invoiceID:
        description: Return orders associated with an invoiceID.
        type: string
        required: false
    responses:
      200:
        body:
          application/json:
            schema: orders
            example: !include examples/x-orders.json
  post:
    description: Creates a new order. Before this can take place, the client must price the order. Users acknowledge the price, and that price is passed back in for final validation during order submission. If the price is no longer valid, the order is not submitted.
    body:
        application/json:
          schema: |
            {
              "type": "object",
              "properties": {
                "addressID": {"type" : "string", "description": "The id of the address expecting this delivery.", "required": false},
                "deliveryWindowID": {"type" : "string", "description": "The id of the expected delivery window for this delivery.", "required": false},
                "expectedPrice": {"type" : "number"},
                "paymentMethod": {"type": "string", "enum": ["Cash", "Credit", "UNION_PAY", "CASH_AND_CREDIT"], "description" : "One of the following: CASH, CREDIT, UNION_PAY, CASH_AND_CREDIT", "required": false},
                "requestedKegReturn": {"type" : "boolean", "required": false},
                "returnBottleCaseCount": {"type" : "number", "required": false},
                "note": {"type": "string", "required": false},
                "poNumber" : {"type": "string", "required": false, "description": "Purchase Order Number. Character limit 30", "maxLength": 30},
                "orderItems": {
                  "type": "array",
                  "required": false,
                  "items": {
                    "type": "object",
                    "properties": {
                      "itemCount": {"type": "integer"},
                      "itemID": {"type": "string"},
                      "pricingCondition": {"type": "string", "required": false}
                    }
                  }
                },
                "giftItems": {
                  "type": "array",
                  "required": false,
                  "items": {
                    "type": "object",
                    "properties": {
                      "itemCount": {"type": "integer"},
                      "giftID": {"type": "string"}
                    }
                  }
                },
                "merchandiseItems": {
                  "type": "array",
                  "required": false,
                  "items": {
                    "type": "object",
                    "properties": {
                      "itemCount": {"type": "integer"},
                      "merchandiseID": {"type": "string"}
                    }
                  }
                },
                "empties": {"$ref": "schema/empties.json"},
                "negotiatedFreeProductItems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "itemCount": {"type": "integer"},
                      "itemID": {"type": "string"},
                      "pricingCondition": {"type": "string"}
                    }
                  }
                }
              }
            }
    responses:
      200:
        body:
          application/json:
            schema: orders
            example: !include examples/x-orders.json
      202:
        description: Returned when an account must make a payment before placing a new order.
        body:
          application/json:
            schema: |
              {
                "message": {"type": "string", "description": "A description of the order pending status."}
              }
            example: |
              {
                "message": "You must make a payment on your outstanding invoices before placing a new order."
              }
      400:
        description: Returned when one of a number of errors are found with the order.
        body:
          application/json:
            schema: |
              {
                "action": {
                  "type": "string",
                  "enum": ["INSUFFICIENT_CREDIT"],
                  "description": "A enumeration of the error type. Accepted values INSUFFICIENT_CREDIT."
                },
                "message": {"type": "string", "description": "A description of the order failure."}
              }
            example: |
              {
                "action": "INSUFFICIENT_CREDIT",
                "message": "Your account does not have enough credit to earn the credit price. Reprice this order and try again."
              }
      402:
        description: Returned when an account must make a payment before placing a new order.
        body:
          application/json:
            schema: |
              {
                "message": {"type": "string", "description": "A description of the order failure."}
              }
            example: |
              {
                "message": "You must make a payment on your outstanding invoices before placing a new order."
              }
      403:
        description: Returned when an order does not meet minimum delivery requirements.
        body:
          application/json:
            schema: |
              {
                "message": {"type": "string", "description": "A description of the order failure."}
              }
            example: |
              {
                "message": "The order does not meet the delivery minimum. Please add more to your truck and retry."
              }
      409:
        description: An array of errors describing the item(s) responsible for order submission failure.
        body:
          application/json:
            schema: |
              {
                "type": "object",
                "properties": {
                  "orderErrors": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "message": {"type": "string"},
                        "items": {
                          "type": "array",
                          "description": "The items responsible for the order submission failure.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "itemID": {"type": "string"}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            example: |
              {
                "orderErrors" : [
                  {
                    "message": "You do not have enough credit to purchase these items.",
                    "items": [
                      {
                        "itemID": "43100"
                      },
                      {
                        "itemID": "43101"
                      }
                    ]
                  }
                ]
              }
  /suggested:
    description: Returns a suggested order for the account.
    is: [secured, errorReporter, priced, requiresClientIdentifiers]
    type: blended
    get:
      responses:
        200:
          body:
            application/json:
              schema: suggestedOrderItems
              example: !include examples/x-suggestedOrder.json
  /{orderID}:
    is: [secured, errorReporter, priced, requiresClientIdentifiers]
    type: primary
    get:
      description: Returns the details of a single order.
      responses:
        200:
          body:
            application/json:
              schema: order
              example: !include examples/x-order.json
    put:
      description: Updates an order, marking its favorite state or altering its name.
      body:
        application/json:
          schema: |
            {
              "type": "object",
              "properties": {
                "name": {"type" : "string"},
                "isFavorite": {"type" : "boolean"}
              }
            }
      responses:
        200:
          body:
            application/json:
              schema: order
              example: !include examples/x-order.json
/invoices:
  is: [secured, errorReporter, dateRanged, paged, priced, requiresClientIdentifiers]
  type: primary
  get:
    description: Returns an array of invoices.
    queryParameters:
      sortProperty:
        description: The property to sort the invoice by. Specify "id," "date," or "cost."
        type: string
        required: false
      ascending:
        description: Specify whether results should be sorted in ascending or descending order.
        type: boolean
        required: false
    responses:
      200:
        body:
          application/json:
            schema: invoices
            example: !include examples/x-invoices.json
  /{invoiceID}:
    is: [secured, errorReporter, requiresClientIdentifiers]
    type: primary
    get:
      description: Returns the details of a single invoice.
      responses:
        200:
          body:
            application/json:
              schema: invoice
              example: !include examples/x-invoice.json
/truck:
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: primary
  description: A resource for updating and retrieving the state of the account's current order.
  get:
    description: Get the contents of the account's truck.
    responses:
        200:
          body:
            application/json:
              schema: truck
              example: !include examples/x-truck.json
  put:
    description: Add, edit, or delete an item or gift in the account's truck. Note that the service will echo the current state of the account's truck in the event of a 200.
    body:
      application/json:
        schema: |
          {
            "type": "object",
            "properties": {
              "itemCount": {
                "type": "integer"
              },
              "itemID": {
                "type": "string",
                "required": "false"
              },
              "giftID": {
                "type": "string",
                "required": "false"
              }
            }
          }
    responses:
      200:
        body:
          application/json:
            schema: truck
            example: !include examples/x-truck.json
  delete:
    description: Clear all items from the user's truck.
    responses:
      200:
        body:
          application/json:
            schema: truck
            example: !include examples/x-truck.json
/items:
  is: [secured, errorReporter, priced, requiresClientIdentifiers]
  type: primary
  description: Retrieves information about items available for sale.
  get:
    description: Returns an optionally filterable list of items for sale.
    queryParameters:
        brandID:
          type: string
          required: false
          description: An optional parameter used to return an array of products associated with a brand.
        orderID:
          type: string
          required: false
          description: An optional parameter used to return an array of products associated with an order.
    responses:
      200:
        body:
          application/json:
            schema: items
            example: !include examples/x-items.json
  /{itemID}:
    is: [secured, errorReporter, priced, requiresClientIdentifiers]
    type: primary
    get:
      description: Returns the details of a single product.
      responses:
        200:
          body:
            application/json:
              schema: item
              example: !include examples/x-item.json
  /suggested:
    description: Items suggested for the account.
    is: [secured, errorReporter, requiresClientIdentifiers]
    type: primary
    get:
      responses:
        200:
          body:
            application/json:
              schema: items
              example: !include examples/x-items.json
/regulars:
  description: Returns a list of the current account’s 20 most frequently ordered items over the last 90 days, sorted by descending regularity (most frequently ordered items to least frequently ordered).
  is: [secured, errorReporter, priced, requiresClientIdentifiers]
  type: primary
  get:
    responses:
      200:
        body:
          application/json:
            schema: items
            example: !include examples/x-regulars.json
/pricing:
  type: primary
  /order:
    is: [secured, errorReporter, priced, requiresClientIdentifiers]
    description: Prices an imminent order.
    post:
      body:
        application/json:
          schema: |
            {
              "type": "object",
              "properties": {
                "paymentMethod": {
                  "type": "string",
                  "enum": ["Cash", "Credit", "UNION_PAY", "CASH_AND_CREDIT"],
                  "default": "CASH",
                  "description": "Acceptable values: CASH, CREDIT, UNION_PAY, CASH_AND_CREDIT. By default, CASH.",
                  "required": false
                },
                "deliveryWindowID": {
                  "type": "string",
                  "description": "An ID of a requested delivery window which may affect pricing.",
                  "required": false
                },
                "orderItems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "itemCount": {
                        "type": "integer"
                      },
                      "itemID": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
      responses:
        200:
          body:
            application/json:
              schema: pricing
              example: !include examples/x-pricing.json
        409:
          description: An array of errors describing the item(s) responsible for pricing failure.
          body:
            application/json:
              schema: |
                {
                  "type": "object",
                  "properties": {
                    "pricingErrors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {"type": "string"},
                          "items": {
                            "type": "array",
                            "description": "The items responsible for the order submission failure.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "itemID": {"type": "string"}
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              example: |
                {
                  "orderErrors" : [
                    {
                      "message": "You do not have enough credit to purchase these items.",
                      "items": [
                        {
                          "itemID": "43100"
                        },
                        {
                          "itemID": "43101"
                        }
                      ]
                    }
                  ]
                }
  /items:
    is: [secured, errorReporter, priced, requiresClientIdentifiers]
    type: primary
    get:
      description: Returns a list of prices for items, and potentially simple, certain discounts for those items. As with all pricing concerns, the assumption is that the user is looking for current prices, which is to say prices with an effective date of now.
      queryParameters:
        itemID:
          type: string
          required: false
          description: An optional array used to return a price associated with the passed in items.
      responses:
        200:
          body:
            application/json:
              schema: prices
              example: !include examples/x-prices.json
/discounts:
  is: [secured, errorReporter, priced, requiresClientIdentifiers]
  type: primary
  get:
    description: Returns an array of all discounts.
    responses:
        200:
          body:
            application/json:
              schema: discounts
              example: !include examples/x-discounts.json
/wholesalers:
  is: [requiresClientIdentifiers, errorReporter]
  type: primary
  get:
    description: Returns an array of all wholesalers, potentially from the data source driving http://www.abwholesaler.com/scripts/Map.aspx.
    responses:
        200:
          body:
            application/json:
              schema: wholesalers
              example: !include examples/x-wholesalers.json
/users:
  is: [requiresClientIdentifiers, errorReporter]
  type: primary
  post:
    description: This request may be made by one of two parties - new users attempting to self-register or an administrator attempting to associate a new user with an account. When this request is made on behalf of an unauthorized, non-admin user, it will create a user or prompt a pre-existing user to create an association to an account. When this request is made on behalf an authorized admin, it will create a user or prompt the admin to create an association between a pre-existing user and his account. Supplemental documentation may be found here https//docs.google.com/document/d/1SI3_TDQU739whL3QMii_xlQ6XL1zeEn8bTu5iyRlQSw/edit?usp=sharing.
    headers:
      examples/x-Access-Token:
        description: A token issued to a user after successful authentication.
        type: string
        required: false
      CustID:
        description: An identifier for the account the user is operating.
        type: string
        required: false
      wholesalerID:
        description: An identifier for the wholesaler the user is ordering from.
        type: string
        required: false
    body:
      application/json:
        schema: |
          {
            "type": "object",
              "properties": {
                "firstName": {"type": "string"},
                "lastName": {"type": "string"},
                "email": {"type": "string"},
                "phone": {"type": "string"},
                "invoiceID": {"type": "string", "required": false},
                "invoiceDate": {"type": "string", "format": "date-time", "required": false},
                "customerID": {"type": "string"},
                "secondaryCustomerID": {"type": "string", "required": false, "description": "This is required if the region requires an additional ID code along with customerID"},
                "taxID": {"type": "string", "required": false},
                "wholesalerID": {"type": "string", "required": false},
                "distributorID": {"type": "string", "required": false},
                "grantAdmin": {"type": "integer", "description": "Either -1 (unknown) or 1 (grant administrative privileges)."}
              }
          }
    responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "description": "One of the following - USER_CREATED_AND_ASSOCIATED, USER_CREATED_ASSOCIATION_REQUESTED, USER_EXISTS_CREATE_REJECTED",
                      "enum": ["USER_CREATED_AND_ASSOCIATED", "USER_CREATED_ASSOCIATION_REQUESTED", "USER_EXISTS_CREATE_REJECTED"]
                    },
                    "message":{
                      "type": "string",
                      "description": "USER_CREATED_AND_ASSOCIATED - Check your email for a confirmation message that includes your login information, then return to TapWiser to sign in. USER_CREATED_ASSOCIATION_REQUESTED The account administrator has been notified of your request. Once your request is verified, you'll receive an email with your login information. USER_EXISTS_CREATE_REJECTED- We found an existing user with this email address. Would you like to connect EMAIL_ADDRESS with this account?",
                      "enum": [ "Check your email for a confirmation message that includes your login information, then return to TapWiser to sign in.", "The account administrator has been notified of your request. Once your request is verified, you'll receive an email with your login information.", "We found an existing user with this email address. Would you like to connect EMAIL_ADDRESS with this account?" ]
                    },
                    "temporaryPassword": {
                      "type": "string",
                      "required": false
                      }
                  }
                }
              example: |
                {
                  "action": "USER_CREATED_ASSOCIATION_REQUESTED",
                  "message": "The account administrator has been notified of your request. Once your request is verified, you'll receive an email with your login information.",
                  "temporaryPassword": "bBB783e3"
                }
  /{userID}:
    is: [secured, errorReporter, requiresClientIdentifiers]
    type: primary
    get:
      description: Returns the details of a user.
      responses:
        200:
          body:
            application/json:
              schema: user
              example: !include examples/x-user.json
    /points:
      is: [secured, errorReporter, requiresClientIdentifiers]
      type: primary
      get:
        description: Returns the total amount of points that a user has to purchase gifts. In some regions, may function as a currency abstraction. In others, points may represent units of free goods.
        responses:
          200:
            body:
              application/json:
                schema: points
                example: !include examples/x-points.json
    /pointsHistory:
      is: [secured, errorReporter, requiresClientIdentifiers]
      type: primary
      get:
        description: Returns an array of points that a user earned while placing orders.
        responses:
          200:
            body:
              application/json:
                schema: pointActions
                example: !include examples/x-pointsHistory.json
/accounts/{accountID}:
  is: [secured, errorReporter, requiresClientIdentifiers]
  get:
    description: Retrieves account details. If the request is issued from one of the account's administrators, the return will contain an array of all users associated with the account. The request is invalid if the accountID in the URL does not match the custID provided in the header.
    responses:
        200:
          body:
            application/json:
              schema: account
              example: !include examples/x-account.json
  put:
    description: Edits an account's user privileges, performing one of four actions; grants or revokes a user's access to the account, grants or revokes a user's admin privileges. This request is invalid unless issued by an administrator of the account. The request is also invalid if the accountID in the URL does not match the custID provided in the header.
    body:
        application/json:
          schema: |
            {
              "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": [{"email":{"type" : "string"},
                              "name":{"type" : "string"}}]
                  },
                  "administrators": {
                    "type": "array",
                    "items": [{"email":{"type" : "string"},
                              "name":{"type" : "string"}}]
                  }
                }
            }
    responses:
        200:
          body:
            application/json:
              schema: account
              example: !include examples/x-account.json
  /expectedDeliveryDate:
    description: A microservice providing quick access to account's next expected delivery date without exposing other details of the account which may only be available to the administrators.
    is: [secured, errorReporter, requiresClientIdentifiers]
    type: primary
    get:
      responses:
          200:
            body:
              application/json:
                schema: |
                  {
                    "expectedDeliveryDate": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                example: |
                  {
                    "expectedDeliveryDate": "2015-10-20 16:30:00"
                  }
  /empties:
    description: A microservice providing quick access to the account's empties.
    type: primary
    get:
      is: [secured, errorReporter, requiresClientIdentifiers]
      description: Returns an array of the user's empties.
      responses:
        200:
          body:
            application/json:
              schema: empties
              example: !include examples/x-empties.json
    post:
      description: Posted order items indicate items the user intends to include in an imminent order. These may increase the user's empties.
      is: [secured, errorReporter, requiresClientIdentifiers]
      body:
        application/json:
          schema: |
            {
              "type": "object",
              "required": false,
              "properties": {
                "orderItems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "itemCount": {"type": "integer"},
                      "itemID": {"type": "string"}
                    }
                  }
                }
              }
            }
      responses:
        200:
          body:
            application/json:
              schema: empties
              example: !include examples/x-empties.json
  /deliveryWindows:
    is: [secured, errorReporter, requiresClientIdentifiers]
    get:
      description: Retrieves an account's delivery windows. Delivery Windows may have special IDs depending on region. Supplemental documentation can be found here - https://confluence.fuzzhq.com/display/BEV/Netscheduler+Overview+and+Technical+Specs
      queryParameters:
        deliveryCaseEquivalency:
          type: number
          required: false
          description: The case equivalency of an imminent order.
        pickupCaseEquivalency:
          type: number
          required: false
          description: The case equivalency of the empties the user expects to return.
      responses:
        200:
          body:
            application/json:
              schema: deliveryWindows
              example: !include examples/x-deliveryWindows.json
  /deliveryAddresses:
    is: [secured, errorReporter, requiresClientIdentifiers]
    type: secondary
    get:
      description: Returns an array of delivery addresses associated with an account.
      responses:
        200:
          body:
            application/json:
              schema: deliveryAddresses
              example: !include examples/x-deliveryAddresses.json
  /negotiatedFreeProducts:
    is: [secured, errorReporter, requiresClientIdentifiers]
    get:
      description: Retrieves the negotiated deals that are associated with an Account.
      responses:
        200:
          body:
            application/json:
              schema: negotiatedFreeProducts
              example: !include examples/x-negotiatedFreeProducts.json
/accounts/connect:
  is: [errorReporter, requiresClientIdentifiers]
  type: primary
  post:
    description: Requests an association between a pre-existing user and an account.
    body:
      application/json:
        schema: |
          {
            "type": "object",
              "properties": {
                "customerID": {"type": "string"},
                "secondaryCustomerID": {"type": "string", "required": false, "description": "This is required if the region requires an additional ID code along with customerID"},
                "taxID": {"type": "string", "required": false},
                "wholesalerID": {"type": "string", "required": false},
                "inviterEmail": {"type": "string", "format": "email"},
                "inviteeEmail": {"type": "string", "format": "email"},
                "invoiceID": {"type": "string"},
                "invoiceDate": {"type": "string", "format": "date-time"},
                "grantAdmin": {"type": "integer", "description": "Either -1 (unknown) or 1 (grant administrative privileges)."}
              }
          }
    responses:
      200:
        body:
          application/json:
            schema: |
              {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "description": "One of the following: USER_ASSOCIATED, USER_ASSOCIATION_REQUESTED"
                  },
                  "message":{"type": "string"}
                }
              }
            example: |
              {
                "action": "USER_ASSOCIATION_REQUESTED",
                "message": "The account administrator has been notified of your request. Once your request is verified, you’ll receive an email with your login information."
              }
/accounts/register:
  is: [errorReporter, requiresClientIdentifiers]
  type: primary
  post:
    description: Requests an account be created for a Point of Consumption.
    body:
      application/json:
        schema: |
          {
            "type" : "object",
            "properties": {
              "firstName": {"type": "string"},
              "lastName": {"type": "string"},
              "email": {"type": "string"},
              "phone": {"type": "string"},
              "businessName": {"type": "string"},
              "addressLineOne": {"type": "string"},
              "addressLineTwo": {"type": "string"},
              "city": {"type": "string"},
              "postalCode": {"type": "string"},
              "country": {"type": "string", "required": false},
              "origin": {"type": "string", "description": "Indication of how the user heard about the app.", "required": false}
            }
          }
    responses:
        200:
          body:
            application/json:
              schema: |
                {
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "description": "One of the following - POC_REGISTRATION_PENDING_REVIEW, POC_EXISTS_REGISTRATION_REJECTED"
                    },
                    "message": {
                      "type": "string",
                      "description": "ACCOUNT_REGISTRATION_PENDING_REVIEW - An Account Administrator has been notified of your request. Someone will reach out to you to you soon regarding your application. ACCOUNT_EXISTS_REGISTRATION_REJECTED- We found an existing POC with this email address."
                    }
                  }
                }
              example: |
                {
                  "action": "POC_REGISTRATION_PENDING_REVIEW",
                  "message": "An Account Administrator has been notified of your request. Someone will reach out to you to you soon regarding your application."
                }
/notifications:
  description: Fetches notifications and updates the user's reception preferences.
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: secondary
  get:
    description: Returns an array of notifications.
    responses:
      200:
        body:
          application/json:
            schema: notifications
            example: !include examples/x-notifications.json
  put:
    description: Updates the user's notification reception preferences. On success, echoes the state of the user's notifications.
    body:
      application/json:
        schema: |
          {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "notificationID": {"type": "string"},
                "isEnabled": {"type": "boolean"}
              }
            }
          }
    responses:
      200:
        body:
          application/json:
            schema: notifications
            example: !include examples/x-notifications.json
/browse:
  description: Returns the list of promotions and categories that are displayed in the central browsing experience.
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: secondary
  get:
    responses:
      200:
        body:
          application/json:
            schema: |
              {
                "type": "object",
                "properties": {
                  "promotions": {"$ref": "schema/promotions.json"},
                  "categories": {"$ref": "schema/categories.json"}
                }
              }
            example: !include examples/x-browse.json
/search:
    is: [secured, errorReporter, requiresClientIdentifiers]
    type: secondary
    get:
      description: Returns an array of brands or merchandise items matching the query. By default, brands are searched.
      queryParameters:
        query:
          type: string
          required: true
          description: A parameter that represents the user's input.
        isMerchandise:
          type: boolean
          required: true
          description: An optional parameter that determines whether the search is querying brands or merchandise.
        family:
          type: string
          required: false
          description: An optional parameter used to exclude results that do not match the family identifier.
      responses:
        200:
          body:
            application/json:
              schema: search
              example: !include examples/x-search.json
/estimates:
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: secondary
  description: Retrieves and creates user-generated estimates. These estimates are input by the user and are used to assist him in estimating his potential profit.
  get:
    description: Returns an array of the user's estimates.
    queryParameters:
      itemIDs:
        type: string
        required: false
        description: An optional parameter used to return the estimated prices related an array of itemIDs.
    responses:
        200:
          body:
            application/json:
              schema: estimatedPrices
              example: !include examples/x-estimates.json
  post:
    description: Creates or updates a user's estimate of an item.
    queryParameters:
      estimate:
        type: number
        required: true
        description: The estimated price the user will sell the item for.
      itemID:
        type: string
        required: true
        description: The itemID of the item being estimated.
      servingSize:
        type: integer
        required: false
        description: The volume of a serving size. This parameter is required for estimates to drafts.
    responses:
        200:
          body:
            application/json:
              schema: estimatedPrice
              example: !include examples/x-estimate.json
/cocktails:
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: secondary
  get:
    description: Returns an array of beer cocktails.
    responses:
      200:
        body:
          application/json:
            schema: beerCocktails
            example: !include examples/x-beerCocktails.json
/categories:
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: secondary
  description: Returns details about categories, the root nodes of the app's browsing experience.
  get:
    description: Returns an array of all categories.
    responses:
      200:
        body:
          application/json:
            schema: categories
            example: !include examples/x-categories.json
  /{categoryID}:
    is: [secured, errorReporter, priced, requiresClientIdentifiers]
    type: secondary
    get:
      description: Returns the details of a single category.
      responses:
        200:
          body:
            application/json:
              schema: category
              example: !include examples/x-category.json
/brands:
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: secondary
  description: Returns details about brands.
  get:
    description: Returns an array of brands.
    queryParameters:
      categoryID:
        type: string
        required: false
        description: An optional parameter used to return an array of brands associated with a category.
    responses:
      200:
        body:
          application/json:
            schema: brands
            example: !include examples/x-brands.json
  /{brandID}:
    is: [secured, errorReporter, priced, requiresClientIdentifiers]
    type: blended
    get:
      description: Returns the details of a single brand.
      responses:
        200:
          body:
            application/json:
              schema: brand
              example: !include examples/x-brand.json
/trends:
  is: [secured, errorReporter, priced, requiresClientIdentifiers]
  type: secondary
  get:
    description: Returns an array of three localized trends.
    responses:
        200:
          body:
            application/json:
              schema: trends
              example: !include examples/x-trends.json
/videos:
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: secondary
  get:
    description: Returns all available videos.
    responses:
      200:
        body:
          application/json:
            schema: videos
            example: !include examples/x-videos.json
/merchandise:
  is: [secured, errorReporter, requiresClientIdentifiers]
  get:
    description: Returns all available POCM.
    queryParameters:
      merchandiseTypeID:
        description: An optional parameter used to return the merchandise associated with a merchandiseType.
        type: string
        required: false
    responses:
      200:
        body:
          application/json:
            schema: merchandise
            example: !include examples/x-merchandise.json
  /types:
    is: [secured, errorReporter, requiresClientIdentifiers]
    get:
      description: Returns all available POCM types.
      responses:
        200:
          body:
            application/json:
              schema: merchandiseTypes
/gifts:
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: secondary
  description: Gifts are merchandise or items that may be purchased with points.
  get:
    description: Returns an array of all gifts.
    responses:
      200:
        body:
          application/json:
            schema: gifts
            example: !include examples/x-gifts.json
/unionPay:
  is: [secured, errorReporter, requiresClientIdentifiers]
  type: primary
  description: Requests a UnionPay transaction number for a given order.
  post:
    body:
      application/json:
        schema: |
          {
            "type": "object",
            "required": true,
            "properties": {
              "orderID": {
                "type": "string",
                "description": "The id of the order to associate with the UnionPay transaction.",
                "required": true
              }
            }
          }
        example: |
          {
            "orderID": "128379389"
          }
    responses:
      200:
        body:
          application/json:
            schema: |
              {
                "type": "object",
                "required": true,
                "properties": {
                  "unionPayTransactionNumber": {
                    "type": "string",
                    "description": "The transaction number of the UnionPay transaction for the posted order.",
                    "required": true
                  }
                }
              }
            example: |
              {
                "unionPayTransactionNumber": "2378497489749789"
              }
